body {
	background-color: #B1B1B1;
}

h1 {
	margin-top: 0.20em;
	font-size: 2.6em;

}

h3 {
	margin-top: -1em;
	font-size: 1.4em;
}

h1, h3 {
	text-align: center;
	font-family: Montserrat;
}

#album {
	margin: auto;
	margin-bottom: 1em;
	
}

img {
	display: block;
}

td {
	padding: 0;
	border: 5px solid #191414;
}
